.intro {
    position: relative;
    height: 90vh;
    width: 100%;
    margin: 0 auto 0 auto;
    &__words {
        width: 100%;
        position: absolute;
        top: 8rem;
    }
}

.portofolio {}

.wcm {
    width: 100%;
    &__reason {
        width: 100%;
    }
    &__text {
        width: 50%;
        &__right {
            float: right;
        }
    }
}

.contact {
    &__text {
        text-align: center;
    }
}

.skills {}